# Server Configuration
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_PORT=5434
DB_NAME=honodb
DB_USER=postgres
DB_PASSWORD=postgres

# STRAPI app Configuration
APP_STRAPI_API_URL=http://localhost:1338
APP_STRAPI_API_TOKEN=your-default-token-here

# JWT Configuration
JWT_SECRET=token
JWT_EXPIRES_IN=1m 